PORT=3000
MONGODB_URI=mongodb://localhost:27017/live-location
REDIS_URL=redis://localhost:6379
KAFKA_BROKER=localhost:29092
KAFKA_BROKER=your_kafka_broker
REDIS_URL=your_redis_url
JWT_SECRET=supersecretjwtkey
MONGODB_URI=your_mongodb_uri
KAFKA_USERNAME=your_username
KAFKA_PASSWORD=your_password
